body{
    font-size: 15px;;
}
.blog{
    display: flex;
    width: 100%;
    margin-left: -10%;

}
.mailer{
    width: 25%;
    margin-right: 5%;
   
}

.listing{
    width: 80%;
    box-shadow: 10px 10px 8px  #888888;
    border-radius: 2%;
    background-color: rgba(2, 138, 138, 0.582); 
    
}

.clientSearch{
    margin: 20px;
}
.search{
    margin: 10px;
    padding: 10px;
    width: 100%;
    margin-left: -5%;
    margin: 20px;
}

.searchInput{
    width: 60%;
    height: 50px;
    border: 2px white solid;
    border-radius: 5px;
}
.clientsData{
    margin: 10px;
    padding: 10px;
    width: 100%;
    /* background-color: rgba(2, 138, 138, 0.582); */
    
}
.head{
    background-color: #95C11F;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;


}

.warnning{
    color: orange;
}


.int{
    width: 250px;
}
.add{
    float: right;
    padding : 10px;
    margin-top: 20px;
    margin-right: 25px;

    
}
.addButton{
    border: none;
   background-color: #95C11F;
   border-radius: 5px;
     
}
.addButton:hover{
color: white;
}
.addImage{
    margin: 10px;
    
}
.thead{
    color: white;
  
}






