body{
    font-size: 15px;;
}
.blog{
    width: 100%;
    background-color: rgba(2, 138, 138, 0.582);
    margin-left: -5%;
}

.clientsData{
    margin: 10px;
    padding: 10px;
    width: 100%;
    
}
.warnning{
    color: orange;
}


.int{
    width: 250px;
}
.add{
    float: right;
    padding : 10px;
    margin-right: 25px;

    
}
.addButton{
    border: none;
   background-color: #95C11F;
   border-radius: 5px;
     
}
.addButton:hover{
color: white;
}
.addImage{
    margin: 10px;
    
}
.thead{
    color: white;
  
}




