body{
    background-color: white;
}
h2{
    font-size: 30px;
    font-family:monospace;
    animation: swing; 
    animation-duration: 10s;
}
.links{
    margin-left: 10%;
    margin-top: 10%;
    }

.button:hover{
    color: white;
    text-decoration: none; 
}
.button{
    margin: 20px;
    background-color: #95C11F;
    border: 2px lightgray;
    height: 50px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}