body{
    background-color: white;
}
h1{
    
    font-size: 30px;
    font-family:monospace;
}
.links{
    margin-left: 20%;
    margin-top: 10%;
    }

.button:hover{
    color: white;
    text-decoration: none; 
}
.button{
    margin: 20px;
    background-color: rgba(2, 138, 138, 0.582);
    border: 2px lightgray;
    height: 50px;
    padding: 10px;
}