body{
    background-color: whitesmoke;
    margin-left: 10%;
    margin-top: 5%;
}
h2{
    margin-left: 10%;
    font-size: 30px;
    font-family:monospace;
}
h1{
    text-align: center;
    font-size: 30px;
    font-family:monospace;
}
.formContainer{
    background-color: rgba(0, 128, 128, 0.582);
    padding: 20px;
    border-radius: 2%;
    width: 60%;
    margin-left: 15%;
    box-shadow: 10px 10px 8px #888888
}
.form{
    margin-left: 10%;
}
.div{
    animation: backInLeft; 
    animation-duration: 1s; 
}
.forms{
    margin: 10px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: 2px white solid;
   
}
.tele, .city, .name, .email{
    margin: 10px;
    width: 38%;
    height: 50px;
    border-radius: 5px;
    border: 2px white solid;

}
 .selects{
    margin: 10px;
    width: 80%;
    height: 60px;
    border: 2px white solid;
}

.textarea{
    margin: 10px;
    width: 80%;
    height: 100px;
    border-radius: 5px;
    border: 2px rgba(0, 128, 128, 0.582);
}
.submit{
  
    margin-left: 50px;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    background-color: #95C11F;
    color: black;
    border: 2px rgba(0, 128, 128, 0.582);
}
.viewList{
    margin: 10px;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    background-color: #95C11F;
    color: black;
    border: 2px rgba(0, 128, 128, 0.582);
}
.submit:hover{
    color: white;

}
.viewList:hover{
    color: white;
}