body{
    background-color: whitesmoke;
    margin-left: 10%;
    margin-top: 5%;
}
h1{
    text-align: center;
    font-size: 30px;
    font-family:monospace;
}
.formContainer{
    background-color: rgba(0, 128, 128, 0.582);
    padding: 1%;
    border-radius: 2%;
    width: 80%;
}
.form{
    margin-left: 25%;

}
.forms{
    margin: 10px;
    width: 60%;
    height: 50px;
    border-radius: 5px;
    border: 2px white solid;
   
}
.select{
    margin: 10px;
    width: 60%;
    height: 60px;
    border-radius: 5px;
}
.textarea{
    margin: 10px;
    width: 60%;
    height: 100px;
    border-radius: 5px;
}
.submit{
    margin: 10px;
    width: 60%;
    height: 30px;
    border-radius: 5px;
    background-color: #95C11F;
    color: white;
}